{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}<title>パスワード変更完了</title>{% endblock %}

{% block content %}
<p></p>
<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10 col-sn-12">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">パスワード変更完了</h4>
    </div>
<section class="common-form">
    <div class="card-body">
    <a class="mr-4 btn btn-lg btn-primary" role="button" href="{% url 'login' %}">ログインへ</a>
    </div>
</section>
  </div>
</div>
{% endblock %}
