{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}
<p></p>
<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10 col-sn-12">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">パスワード変更</h4>
    </div>
<section class="common-form">
    <div class="card-body">
    <form method="post" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="submit btn btn-primary btn-block">パスワード変更</button>
    </form>
    </div>
</section>
  </div>
</div>
{% endblock %}
