@charset "utf-8";


  	h1 {
  		text-align: center;
  		color: #333333;
  	}
  	#work_of_thismonth{
  		display: flex;
  		justify-content: space-around;
  	}
  	#work_of_thismonth > div {
  		width: 100%;
  	}
  	table {
  		border-collapse: collapse;
  		width: 100%;
  	}
  	td, th {
  		text-align: center;
  		border: 1px solid;
  		font-size: 12px;
  		border-color: #696969;
  	}
  	th {
  		background-color: #A9A9A9;
  		color: white;
  	}
  	td {
  		color: #333333;
  	}
  	.name {
  		text-align: right;
  		color: #333333;
  	}

  	