@charset "utf-8";

/*datatables*/
.container {
    max-width: 100%;
}
#data-table table {
  		border-collapse: collapse;		
  	}
td, th {
  		text-align: center;
  	}



#table-members {
  display: flex;
  /*justify-content: space-around;*/
  /*margin: 30px;*/
}
#table-members > div {
  width: 50%;
}
#table-members table {
  width: 100%;
}

/*WeasyPrint文字化け用*/
@font-face {
  font-family: 'Noto Sans JP';
  src: url('tim_app/font/NotoSansJP-Black.otf');
}
@page {
  padding: 0 !important;
  margin: 0 !important;
  font-family: 'Noto Sans JP';
}